.routineCardsWrapper {
  text-align: center;
  width: 400px;
  margin: 50px auto;
}
.pageTitle {
  margin-top: 0px !important;
  margin-left: 40px;
  font-size: 1rem;
  padding: 10px;
  padding-left: 10px;
  border-bottom: 0.8px solid var(--darkgrey);
}
