body {
  font-family: "Martel", sans-serif !important;
  font-size: 1rem;
  background-position: center;
  background-image: none !important;

  background-repeat: no-repeat;
  background-size: cover;
}
