.navBarWrapper.expanded {
  height: 100vh;
  min-width: 300px;
  top: 0;
  left: 0;
  background-color: var(--white);
  transition: 0.3s ease-in-out !important;
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 20px;
}
.navBarWrapper {
  width: 60px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--white);
  transition: 0.3s ease-in-out !important;
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 20px;
}
.navBarLogo {
  margin-bottom: 1rem;
  visibility: visible;
}
.navBarLogo.hidden {
  display: none;
  visibility: hidden;
}
.navLinksWrapper {
  margin-top: 10px;
}
.navLinks {
  width: 280px;
  margin-top: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 15px 20px;
  cursor: pointer;
  color: var(--darkgrey);
  text-decoration: none;
}
.navLinks.active {
  width: 250px;
  background-color: var(--blue);
  color: var(--white) !important;
}
.navLinks:hover {
  width: 250px;
  background-color: var(--lightblue);
  color: var(--darkgrey) !important;
}

.navLinkLogOut {
  background-color: transparent !important;
  margin-top: 250px !important;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 20px 20px;
  cursor: pointer;
  color: var(--darkgrey) !important;
  text-decoration: none;
}

.navLinkLogOut:hover {
  background-color: var(--white) !important;
  color: var(--blue) !important;
}

.linkText {
  padding-left: 16px;
}
.linkTextClosed {
  padding-left: 16px;
  visibility: hidden;
}

.navigation-menu .activeLink {
  color: var(--blue);
  background-color: var(--blue);
}

.dashboardIcon {
  font-size: 1.2rem;
  color: #b1b5bb;
  border: none;
  outline: none;
}

.dashboardIcon:hover {
  color: var(--blue);
}

.userAvatar {
  font-size: 2.3rem;
  margin-top: -10px;
}
.toggler {
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 5px;
}
.toggler:hover {
  background-color: transparent;
}
.arrowLeft {
  padding-left: 50px;
}
.hamburger {
  margin-bottom: 30px;
}

.content {
  width: 80%;
  margin: 50px auto 0 auto;
}

.breadcrumbCont {
  margin-top: 40px;
}

.breadcrumbs span {
  margin-right: 15px;
  color: var(--grey);
}

.breadcrumbs span:hover {
  color: var(--blue);
}

.breadcrumbs p {
  display: inline;
}

.activeCrumb span {
  color: var(--blue) !important;
  font-weight: 500;
}

.breadcrumbIcon {
  font-size: 0.9rem;
  margin-right: 25px;
  color: var(--grey);
}

.smallDeviceWrapper {
  margin-top: 35px !important;
  border-bottom: none;
}

@media screen and (max-width: 1366px) {
  .headerWrapper {
    padding: 0 50px;
    margin: 0 auto;
  }

  .headerWrapper {
    padding-bottom: 20px !important;
  }

  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    width: 100%;
    padding: 1.5rem 0 1.5rem 1rem;
    text-align: left;
  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .dashboardHeaderWrapper {
    margin-top: 35px;
  }
}
