.subjects {
  min-width: 1200px;
}
.subjectCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem 2rem;
  text-align: center;
  max-width: auto;
  margin: 50px auto;
  padding-left: 30px;
}
.grades {
  min-width: 1200px;
}
.gradeCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem 2rem;
  text-align: center;
  max-width: auto;
  margin: 50px auto;
  padding-left: 30px;
}
.assignments {
  max-width: 1200px;
}
.assignmentCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-width: auto;
  margin: 50px auto;
  padding-left: 30px;
}
.paginationContainer {
  margin: 4rem auto 5rem auto;
  text-align: center;
}
