.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

.inputField:focus {
  outline: none;
}
.inputField {
  height: 60px;
  background: var(--white);
  border: 1px solid var(--darkgrey);
  border-radius: 12px;
  padding: 0 30px;
  font-size: 1rem;
}
.inputField::placeholder {
  color: var(--darkgrey);
  font-style: normal;
  font-weight: 400;
}

.error {
  font-size: small;
  color: red;
}
