.subjectCard,
.gradeCard,
.assignmentCard {
  box-shadow: 1px 0px 7px -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 0px 7px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 7px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: auto;
  width: 180px;
  background-color: var(--lightblue);
  padding: 1rem;
  text-align: left;
}
.gradeCard {
  background-color: var(--purple);
}
.assignmentCard {
  width: 800px;
  display: flex;
  align-items: stretch;
}
.subjectCard:hover,
.gradeCard:hover {
  transform: scale(1.05);
  transition: ease-in 250ms;
  background-color: var(--blue);
}
.subjectCard:hover .subjectName,
.gradeCard:hover .subjectName {
  color: var(--white);
}

.subjectIcon {
  text-align: left;
  height: 20px;
}
.assignmentCard .subjectIcon {
  flex-direction: row;
}

.subjectIcon img {
  object-fit: cover;
  width: 50px;
}
.subjectDetails,
.gradeDetails {
  margin-top: 50px;
  color: var(--darkgrey);
}
.assignmentCard .assignmentDetails {
  flex-direction: row;
  position: relative;
}
.assignmentCard .checkBox {
  flex-direction: row;
}

.subjectName {
  font-size: 1.2rem;
  font-weight: 700;
}

.subjectLecturer {
  margin-top: 5px;
  font-size: 0.7rem;
}
.lecturerName {
  margin-top: 5px;
  font-size: 0.8rem;
}
.title {
  font-size: 0.65rem;
  margin-bottom: 10px;
  margin-top: 15px;
}
.subjectAttendance,
.subjectGrade {
  margin-top: 10px;
  border-top: 0.5px solid var(--darkgrey);
}
.title .remarks {
  float: right;
}
.title .score {
  font-size: 0.8rem;
  float: right;
}
@media only screen and (max-width: 600px) {
  .subjectCard {
    padding: 50px 0px;
  }

  .subjectCard {
    height: 760px;
  }

  .subjectDetails {
    padding: 0 50px;
  }
}
