@import url("https://fonts.googleapis.com/css2?family=Martel:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  --blue: #9ec3ff;
  --white: #ffffff;
  --black: #22262e;
  --lightblue: #edfbff;
  --grey: #bfc5cd;
  --purple: #dee1ff;
  --darkgrey: #5d5d5d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Martel", sans-serif !important;
  font-size: 1rem;
  background-image: url(../src/images/Rectangle\ 51.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  font-family: "Martel", sans-serif !important;
}

button {
  font-family: "Martel", sans-serif !important;
}

.app {
  margin: -0.2rem auto;
}

.ctaBtn {
  width: 100%;
  outline: none;
  border: none;
  color: var(--white);
  background-image: linear-gradient(165deg, #bddeff, #6aa3ff);
  padding: 25px 0px;
  text-align: center;
  border-radius: 20px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  opacity: 1;
  transition: ease-in 200ms;
}

.ctaBtn:hover {
  opacity: 60%;
}

button {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}

.pageTitle {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 1.5rem;
  padding: 40px;
  padding-left: 10px;
  border-bottom: 0.8px solid var(--darkgrey);
}

@media only screen and (max-width: 600px) {
  .ctaBtn {
    margin-top: 30px;
    font-size: 0.8rem;
    padding: 22px 0px;
    font-family: "Martel", sans-serif !important;
  }

  .mainContainer {
    width: 87%;
  }
}
